:root {
  --fill-color: lightseagreen;
  --secondary-color: #3d8bb1;
  --stroke-color: #1d2a53;
  --white: white;
  --black: black;
  --red: #e74c3c;
}

#welcome-container {
  background-image: url("../images/Sterren1.png");
  position: absolute;
  z-index: 100;
  background-size: 200vh;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: all 2s linear;
}

#welcome-container.hide {
  opacity: 0;
  z-index: -1;
  transition: all 2s linear;
}

#welcome-container .title {
  color: var(--white);
  text-align: center;
  margin-top: 20vh;
  font-size: 18px;
  line-height: 1.5;
}

.title span {
  font-size: 18px;
  display: inline-block;
  animation: move 5s ease-in-out infinite;
}

@media screen and (min-width: 576px) {
  .title span {
    font-size: 32px;
  }
}
@media screen and (min-width: 992px) {
  .title span {
    font-size: 48px;
  }
}

@keyframes move {
  0% {
    transform: translate(0%, 0);
  }
  10% {
    transform: translate(-10%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(200, 200, 200, 0.75);
  }
  80% {
    transform: translate(10%, 0);
  }
  90% {
    transform: translate(-10%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

.title span:nth-child(2) {
  animation-delay: 0.5s;
}

.title span:nth-child(3) {
  animation-delay: 1s;
}

.title span:nth-child(4) {
  animation-delay: 1.5s;
}

.title span:nth-child(5) {
  animation-delay: 2s;
}

.title span:nth-child(6) {
  animation-delay: 2.5s;
}

.title span:nth-child(7) {
  animation-delay: 3s;
}

.title span:nth-child(8) {
  animation-delay: 3.5s;
}

.title span:nth-child(9) {
  animation-delay: 4s;
}

.title span:nth-child(10) {
  animation-delay: 4.5s;
}

.title span:nth-child(11) {
  animation-delay: 5s;
}


#welcome-container .loading-container {
  width: 100%;
  height: calc(100vh - 300px);
}

#welcome-container .loading-container p {
  color: var(--white);
  margin-left: calc(50vw - 60px);
}

#welcome-container.loaded .loading-container {
  display: none;
}

#welcome-container .start-game {
  transition: opacity 3s ease-out;
  transition-delay: 0.5s;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#welcome-container.loaded .start-game {
  opacity: 1;
  height: auto;
}

#welcome-container.loaded .start {
  text-align: -webkit-center;
  width: 100%;
}

#welcome-container.loaded .start-btn {
  width: fit-content;
  border: 3px solid white;
  border-radius: 4px;
  padding: 20px;
  margin: 100px;
  color: var(--white);
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#welcome-container.hide .start-btn,
#welcome-container.loaded .start-btn:hover {
  cursor: pointer;
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scaleX(1.5);
}

.spinner-container {
  display: block;
  height: 200px;
  position: relative;
  letter-spacing: 0.5px;
}

.spinner::after {
  content: '';
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  border-radius: 50%;
}

.spinner.grow-pulse::after {
  background-color: rgba(255, 255, 255, 1.0);
  animation: grow-pulse 1.5s ease-out infinite;
}

@keyframes grow-pulse {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

body {
  margin: 0;
}

#game-container {
  position: relative;
}

canvas {
  display: block;
  height: 100vh;
  width: 100vw;
}

#game-container canvas, #user-interface {
  position: absolute;
}

#user-interface {
  z-index: 1;
  background-color: transparent;
  display: block;
  height: calc(100vh - 32px);
  width: calc(100vw - 32px);

  padding: 16px;
}

.top-container, .bottom-container {
  display: flex;
  justify-content: space-between;
}

.kitten-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.kitten-container .kitten-count {
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--white);
}

.kitten-container .kitten-icon {
  position: relative;
  display: flex;
  width: 50px;
}

.kitten-container .kitten-icon img:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.help-container {
  position: absolute;
  bottom: 16px;
}

.help-icon {
  padding: 12px 10px 10px 12px;
  border: 3px solid var(--white);
  border-radius: 4px;
  font-size: 24px;
  color: var(--white);
}

.help-icon:hover {
  background-color: var(--black);
  cursor: pointer;
  transition: background 0.2s ease, padding 0.8s linear;
}

.inventory-container {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.inventory-icon img,
.notification-icon .inactive {
  width: 64px;
  position: relative;
}

.notification-icon.openable:hover {
  cursor: pointer;
}

.notification-icon .inactive {
  right: 5px;
}

.notification-icon .active,
.notification-icon.active .inactive {
  display: none;
}

.notification-icon .inactive,
.notification-icon.active .active {
  display: block;
}

.notification-icon.active img {
  width: 73px;
}

.notification-icon.active {
  animation: shake 1s;
  animation-iteration-count: 7;
}

.inventory-icon:hover {
  cursor: pointer;
}

.inventory-icon {
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: var(--white);
}
.inventory-icon:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.dialog-inner {
  display: flex;
  height: calc(100% - 62px);
}

.dialog-left {
  width: 30%;
}

.dialog-right {
  width: 70%;
}

.dialog-right .puss-notification {
  margin-top: 0;
}

.portrait {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--white);
  border-radius: 4px;
}

.inventory-container.wiggle {
	-webkit-animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}



#dialog-container,
#help-container,
#inventory-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

#dialog-box,
#help-box,
#inventory-box {
  width: 90vw;
  height: 70vh;
  border: 4px solid white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  #dialog-box,
  #inventory-box {
    width: 80vw;
  }
}

.inventory-inner {
  height: calc(70vh - 80px);
  padding: 50px 30px 30px 30px;
  color: var(--white);
}

.item-container {
  height: calc(55vh - 80px);
  overflow: hidden;
}

.item-slots {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item-slot {
  border: 3px solid var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  width: 45%;
  height: 45%;
  margin-right: 5%;
  margin-bottom: 5%;
  box-shadow: inset 0 1px 3px 0px #fff,inset 0 9px 10px 0px #0cada3;
  border-radius: 4px;
  transition: 5ms;
}

.item-slot.item-second,
.item-slot.item-fourth {
  margin-right: 0%;
}

.item-slot.item-third,
.item-slot.item-fourth {
  margin-bottom: 0%;
}

.item-slot img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item-slot.show:hover {
  background-color: black;
  transition: 5ms;
}

.item-slot .tooltip-text {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  font-family: monospace;
  padding: 10px 30px;
}

.item-slot:hover .tooltip-text {
  display: block;
}

.item-slot.show .item {
  display: block !important;
}

.item-slot.show .tooltip-text {
  visibility: visible !important;
}

@media screen and (min-width: 576px) {
  .item-slots {
    align-items: center;
  }

  .item-slot {
    width: 20%;
    max-width: 20%;
    margin-right: 5%;
    margin-bottom: 0;
  }

  .item-slot.item-second {
    margin-right: 5%;
  }
}

.close-button {
  width: 50px;
  height: 50px;
  right: 0;
  position: absolute;
}
.close-button:before,
.close-button:after {
  content: '';
  width: 55%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: 48%;
  left: 22%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.close-button:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.close-button:hover:before,
.close-button:hover:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
}

.inner {
  padding: 50px 30px 30px 30px;
  color: var(--white);
}

.inner p {
  color: var(--white);
}

.type {
  font-family: monospace;
  font-size: 16px;
  color:#0000;
  background:
    linear-gradient(-90deg, var(--white) 5px,#0000 0) 10px 0,
    linear-gradient(var(--white) 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation:
    b .7s infinite steps(1),
    t calc(var(--n)*.05s) steps(var(--n)) forwards;
}

@media screen and (min-width: 576px) {
  .type {
    font-size: 24px;
  }
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}
